<h1>New User</h1>
<h3>Sign Up Below</h3>

<%= form_for :user do |form| %>

	<%= form.label :Name %>
	<%= form.text_field :name %>
	<br>
	<%= form.label :password %>
	<%= form.password_field :password%>
	<%= form.submit %>

<% end %>