<h1>New User Form</h1>
<div id="container">
<h2>Sign Up below!</h2>
	<%= form_for :user do |form| %>

		<%= form.label :Name %>
		<%= form.text_field :name %>
		<br>
		<%= form.label :password %>
		<%= form.password_field :password%>
		<br>
		<%= form.submit %>

	<% end %>
	<%= button_to "List Users", users_path, :method => :get %>
</div>